.DS_Store
data/vcf_files/*.vcf
bin/*.Rproj*
bin/.Rhistory
.Rproj.user
data/reference_genomes/Qlobata*
data/reference_genomes/Qrob*
data/1.3.assembly_variant_calling/*.vcf
bin/.RData
bin/test_*.R
archive/
data/1.4.population_stacks/
